* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
 

  font-family: "Roboto", sans-serif;
}
.container {
  width: 200vh;
}
.portfolio-logo {
  width: 90%;
}
header {
  padding: 50px;

justify-content: space-between;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
}

button {
  height: auto;
}

nav {

  align-items: center;
  display: flex;
  gap: 30px;
}
nav a {
  color: #000;
}
@media screen and (max-width: 600px) {
  
.design .h2-design {
  font-size: 7vh;
}



.white {
  
padding-right: 15px;
   
  }
  .darkside {
    padding-left: 300px;
  }
  .right-picture {
    text-align: center;
    display: flex;
   /* padding-left: 350px; */
  }
  .white-place, .faq {


    width: 200vh;
  }
 
  .galery {
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .darkside-main {

    padding-left: 200px;
  }
  .branding .brand {

    font-size: 3vh;
  }
  .view small {
    font-size: 4vh;
  }
 .darkside {
  width: 23637vh;
 }
.pictures {
  /* transform: translate(40%, 10%); */
  justify-content: center;
}
  .darkside-main {
    gap: 220px;
    width: 100vh;
    justify-content: space-between;
  }

.h3 h3, .paragraph-pre .paragraph, ul li {
  font-size: 5vh;
}
.iconn {
  width: 60%;
}
.service .services {
  font-size: 1.7vh;
}
  nav a {
    font-size: 4vh;
  }
  #dark-text {
    font-size: 3vh;
  }
h2 {
  color: #FF5E69;
}
.arrow-nav {
width: 5%;
  
}


   .logos {
    gap: 20px;
   
   flex-direction: column;
   }
  .portfolio-logo {
    width: 50vh
  }
  .button {
    justify-content: center;
  }
  button {
    font-size: 4vh;
  }
 .cv .small-text {
  font-size: 4vh;
 }

  .h6 h6 {
    font-size: 2vh;
  }
  section {
  
    align-items: center;
    /* flex-direction: column; */
    text-align: center;
  }
  .right-image {
   
    transform: translate(20%, 20%);
    text-align: center;
    width: 100%;

    text-align: center;
  }
  .left-text {
flex-basis: 50%;
  }
  .right-image {
    flex-basis: 50%;
  }
.trust {
  font-size: 5vh;
}
  .section {
    padding-bottom: 120px;
    padding-top: 100px;
    align-items: center;
gap: 250px;
    display: flex;
  }
  .right-pic {
    height: auto;
    width: 100%;
  }
  pre {
    font-size: 2vh;
  }
  .bold-pre {

    font-size: 7vh;
  }
  .icon-texts {
  
    flex-direction: column;
  }
}
.texts {
  align-items: center;
}
.right-pic {
  width: 70%;
}
.orange {
  color: #ff8a56;
}
.texts {
  padding-bottom: 20px;
  font-size: 6vh;
  font-weight: bold;
}
.bold span {
    color: #FF8A56

}

section,
header {
  display: flex;
  padding: 20px;
}
h6 {
  font-size: 2.3vh;
  color: #666666;
  font-weight: normal;
}
.right-image {
  flex-basis: 50%;
  height: auto;
  width: 60%;
}
.left-text {
  flex-basis: 50%;
}

pre {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 300px) {
nav {
  padding-right: 220px;
}

}
@media screen and (max-width: 850px) {
  nav, .button{

    padding-right: 150px;
  }
  .whiteright-paragraphs {
    padding-right: 120px;
  }
.arrows {
  display: flex;
  padding-right: 200px;
}
  pre {
    font-size: 3vh;
  }
  .logos {
    gap: 50px;
  }
  .design h2 {
    font-size: 2vh;
  }
  .icon-texts {
  
    flex-direction: column;
  }
}
@media screen and (max-width: 1000px) {
  pre {
    font-size: 3vh;
  }
.right-picture {
  justify-content: center;
text-align: center;
  display: flex;
}
  .galery {
    text-align: center;
    justify-content: center;

    flex-direction: column;
  }
   .white-place, .faq {


    width: 200vh;
  }
  .h6 h6 {
    font-size: 4vh;
  }
 .portfolio-logo {

  width: 40vh;
 }
 .bold-pre {
  font-size: 6vh;
 }
 .arrow-nav {
  width: 3vh;
 }
 button {
  font-size: 3vh;
 }
 .cv .small-text {

  font-size: 3vh;
 }
 .trust {
  font-size: 5vh;
 }
 .view-all .all {
  font-size: 3vh;
 }
 .white-arrow .small-arrow {

  width: 3vh;
 }
 .white-arrow {
  width: 5vh;
 }
 nav a {
  font-size: 4vh;
 }
 .logo .logo-picture {
  width: 20%;
 }

 .logos {
  flex-direction: column;
   gap: 50px;
  text-align: center;
 }
 .design h2 {
  font-size: 3vh;
 }
 .service .services {
  font-size: 4vh;
 }
 .icon-texts {
  
  flex-direction: column;
}
}

/* @media screen and (max-width: 300px) {
 /* .trusted {
  background-color: #ff8a56;
 } */
/*  
 .logo .logo-picture {
  width: 10vh;
  height: 3vh;
 } */ 





.arrow {
  height: 2vh;
}

.small-text {
  font-weight: normal;
  font-size: 2vh;
}
.button {
  width: 100%;
  padding-top: 20px;
  gap: 20px;
  display: flex;
}
button {
  width: 100%;
  color: #fff;
  background-color: #000;
  padding: 7px;
}
.logos {
    width: 100%;
/* background-color: #FF8A56; */
    padding:40px 130px 130px ;
 justify-content: space-around;
  display: flex;
}

.trusted {
  padding-top: 70px;
text-align: center;
  width: 100%;
}

.logo-picture {

    width: 100%;
}
.services {
  text-align: center;
  color: #FF5E69;
letter-spacing: 3px;
  font-size: 3vh;
}
h2 {

color: #000;

font-size: 5vh;
}
.design {

  padding-top: 10px;
}
.paragraph {
  font-size: 2.5vh;
 color: #666666;
}
.paragraph-pre {
  padding-top: 15px;
}
 ul {
  font-size: 2.5vh;
 font-weight: bold;
list-style: square;
}
.icon-text {
 
  padding: 20px;
}
.section {
  padding: 50px;
  gap: 220px;
  display: flex;
}
.icon-texts {
  gap: 20px;
  align-items: center;
  padding-top: 20px;
  justify-content: center;
  display: flex;
}
h3 {
  font-size: 3vh;
}
.icon {
  width: 20%;
}
.project {
  color: #B16CEA;
  letter-spacing: 3px;
  font-size: 3vh;
}
.results {
  padding-top: 15px;
}
.projects {
  padding: 40px;
  justify-content: space-between;
  display: flex;
}
.button {
  padding-top: 40px;
}

.pictures {

  gap: 20px;
justify-content: center;
  display: flex;
}
.card {

  background-color: #fff;
  width: 50vh;
  height: 45vh;
}
.card-image {


  height: 25vh;
}
.white-side {
  padding: 20px;
}
.card1 {
background-size: cover;
 background-image: url(./assets2/IMAGE1.png);
}
.card2 {
  background-size: cover;
 background-image: url(./assets2/IMAGE\ middle.png);
}
.card3 {
  background-size: cover;
  background-image: url(https://source.unsplash.com/random);
}


.darkside {

  width: 207vh;
  height: 200vh;
  background-color: #000;
margin-top: -70px;
}
.branding {
  padding-bottom: 7px;
}
.white-bottom{
  display: flex;
}
.brand-arrow {

  position: relative;
  top: 10px;
  left: 15px;
}
.view {
  padding-top: 7px;
}
.brand {
  font-weight: bold;
  font-size: 2vh;
  letter-spacing: 3px;
  color: #3C46FF;
}
.arrow-card {

 
  width: 8vh;
  position: relative;
  top: 100px;
  background-color: #fff;
  height: 8vh;
}
.arrowleft-image {
  position: relative;
  top: 18px;
  left: 15px;
}
.darkside-top {

  padding-right: 170px;
 height: 25vh;
  justify-content: right;
  gap: 5px;
  display: flex;
}
.blog {
  font-size: 3vh;
  color: #FFA84B;
}
.darkside-main {
 
justify-content: space-around;
 display: flex;
  padding: 50px;
}
.latest {
  color: #fff;
  font-weight: bold;
  font-size: 5vh;
}
.date {
  color: #FFFFFFB2;
}
.texts-arrow {
 padding-top: 20px;
  gap: 20px;
  display: flex;
}
.all {
  font-size: 2vh;
  color: #fff;
  font-weight: bold;
}

.blogs {
  padding-bottom: 20px;
}
.design {
  font-size: 3vh;
  font-weight: bold;
  color: #fff;
}
.article {
  font-size: 2vh;
  font-weight: bold;
  color: #fff;
}
.Article {
  gap: 20px;
  display: flex;
}
.rightside-part {
 padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(214, 214, 214, 0.3);
}
.services {
  font-weight: bold;
}
.bold {
  font-weight: bold;
font-size: 7vh;
}
.white-board {
  padding: 50px;
  justify-content: space-between;
  display: flex;
}
.whiteright-paragraph {
  font-size: 3vh;
  color: #666666;
}
.galery {
 padding-left: 150px;
 
  display: flex;
}
.arrows {
  gap: 5px;
  display: flex;
}

small {
  font-size: 2vh;
  color: #00000099;
}
h4 {

  font-size: 3vh;
}
.education-work {



}
.uni-year, .work-year {

  gap: 80px;
  display: flex;
}
.human, .years {
color: #00000099;
  font-size: 2vh;
}
.universities, .working {
width: 90vh;
  height: 15vh;
  border-bottom: 1px solid rgba(197, 196, 196, 0.3);
}
.education-work {
  gap: 30px;
  padding: 50px;
  display: flex;
}
.education, .experience {
  padding-bottom: 50px;
}
.uni-year, .work-year {
  padding-top: 20px;
  
} 
 .unies {
  padding-top: 15px;
} 
 .jobs {
  padding-top: 15px;
} 


 /* .uni-year {
 margin-bottom: 15px;
}  */
.space {

  padding-top: 15px;
}
.job {

  display: flex;
}
.roket {
  border-radius: 25px;
  padding-left: 11px;
padding-top: 10px;
  width: 7vh;
  height: 7vh;
  background-color: #FFB4E9;
  /* padding-right: 10px;
  padding-top: 30px; */
}
.roket-pic, .king-pic, .music-pic {
padding-right: 10px;
  padding-top: 20px;
}
.music {
  border-radius: 25px;
  padding-left: 11px;
padding-top: 10px;
  width: 7vh;
  height: 7vh;
  background-color: #A5BEFF;
}
.king {
  border-radius: 25px;
  padding-left: 11px;
padding-top: 10px;
  width: 7vh;
  height: 7vh;
  background-color: #FFC960;
}
.testimionals {
  padding-bottom: 20px;
}
.white-place {
 justify-content: center;
 display: flex;
padding: 50px;
  padding-top: 80px;
}
#testimionals {
font-weight: bold;
color: #4353FF;
  letter-spacing: 3px;
  font-size: 3vh;
}
.whiteplace-top {
  padding: 50px;
  padding-bottom: 40px;
}
.boy {
height: auto;
  width: 50%;
}
.about-jade {
  font-weight: bold;
  font-size: 4vh;
}
.faq-orange {
text-align: center;

}
.faq {
  background-color: #000;
}
.color-orange {

  color: #FF8A56;
}
.span-orange {
padding-bottom: 20px;
  padding-top: 50px;
}
.line {
  gap: 120px;
  display: flex;
}
.arrow-bottom {
  padding-top: 10px;
}
.question-line {
  width: 90vh;
  border-bottom: 1px solid rgba(197, 196, 196, 0.3);
  height: 15vh;
}
.question {
  padding: 70px;
  padding-top: 100px;
  gap: 50px;
  display: flex;
}
.ready {
  
  font-weight: bold;
color: #fff;
  font-size: 5vh;
}
.call {
  color: #3C46FF;
  font-weight: bold;
  font-size: 5vh;
}
.dark-bottom {
  padding: 70px;
}
.top-side {

  padding-bottom: 80px;
}
.usa, .email {
font-size: 2vh;
  color: #666666;
}
.message-icon, .message-logo, .mail {
  padding-top: 5px;
}
.message-icon {
  gap: 5px;
  display: flex;
}
.white-logo {
padding-bottom: 5px;
}
.nav-links {
  gap: 80px;
  display: flex;
}
.info-side {
  justify-content: space-between;
  display: flex;
}
#footer {
font-size: 2vh;
  color: #8A95AD;
}
.footer {
  padding-top: 120px;
}
.projects {
  padding-top: 120px;
}